TUDA/
build/
*.ply
*.png
*.egg-info/
*.so.*
*.so
*.bag
recordings/
run_lidar_mars_registration/
ros_lidar_mars_registration/
lidar_mars_registration_node/
cloud_stamps.txt
gps_poses*.txt
imgui.ini
imu_ori.txt
last_reg_poses*.txt
notices.txt
octave-workspace
reg_ori.txt
reg_poses*.txt
*.txt
kitti_fmt/
dense_fmt/
